Zelda_Client/entrataLog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zelda.EventLogXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="applicationName"/>
        <xs:element type="xs:string" name="IPAddress"/>
        <xs:element type="xs:string" name="eventTimestamp"/>
        <xs:element type="xs:string" name="eventDescription"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>