Zelda_Client/settings.xsd

<?xml version="1.0" encoding="UTF-8"?> 

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="zelda.SettingsXML">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="keyAssociation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="rightKey" type="xs:string"/>
							<xs:element name="leftKey" type="xs:string"/>
                                                        <xs:element name="upKey" type="xs:string"/>
							<xs:element name="downKey" type="xs:string"/>
							<xs:element name="swordKey" type="xs:string"/>
                                                        <xs:element name="specialKey" type="xs:string"/>
                                                        <xs:element name="bowKey" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>	
                                
                                <xs:element name="serverLogAddress" type="ServerAddress"/>	
                                
			</xs:sequence>
		</xs:complexType>
	</xs:element>
        
        <xs:complexType name="ServerAddress">
		<xs:sequence>
			<xs:element name="IPAddress" type="xs:string"/>
			<xs:element name="port" type="xs:short"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>